@mixin active($value){
  color: $blanc;
  text-decoration: none;
  background-color: transparent;
  padding-bottom: $value;
  border-bottom: $border-active;
}

@mixin icon($value){
  padding-left: $value;
  vertical-align: middle;
}