%title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 20px;
}

%description{
  font-family: "Roboto";
  font-size: 1.6rem;
  margin-bottom: 20px;
}

%btn-load{
  background-color: transparent;
  border-color: $noir;
  font-weight: 700;
  height: 60px;
}