$blanc: #ffffff;
$noir: #000000;
$gris: rgba(0, 0, 0, 0.2);

// Typography
$font-family-base: "aleoregular";
$font-size-base: 10px;
$line-height-base: 1.5;
$text-color: $noir;

$border-gris: 1px solid $gris;
