@media (min-width: 1200px) and (max-width: 1499px) {
  header {
    h1 {
      transform: translate(-50%,-250%);
      -webkit-transform: translate(-50%, -250%);
      -moz-transform: translate(-50%, -250%);
      -ms-transform: translate(-50%, -250%);
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-inverse {
    .navbar-brand {
      padding-left: 30px;
    }
    .navbar-left {
      padding-left: 5%;
      .navbar-right {
        padding-right: 0;
      }
    }
  }

  header {
    h1 {
      font-size: 5rem;
      transform: translate(-50%,-250%);
      -webkit-transform: translate(-50%, -250%);
      -moz-transform: translate(-50%, -250%);
      -ms-transform: translate(-50%, -250%);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-inverse {
    .navbar-brand {
      padding-left: 15px;
    }

    .nav {
      >li {
        >a {
          padding: 17.5px 5px;
        }
      }
    }

    .navbar-left {
      padding-left: 0;
    }
    .navbar-right {
      padding-right: 0;
      margin-top: -5px;
    }
  }

  header {
    h1 {
      font-size: 4rem;
      transform: translate(-50%,-250%);
      -webkit-transform: translate(-50%, -250%);
      -moz-transform: translate(-50%, -250%);
      -ms-transform: translate(-50%, -250%);
    }
  }

  section {
    margin-top: -90px;
  }

  button {
    &.close {
      top: 15px;
      right: 15px;
    }
  }

  .modal-content {
    padding: 15px;
    .modal-header {
      h3 {
        font-size: 2rem;
        margin: {
          top: 5px;
          bottom: 10px;
        }
      }
      p {
        font-size: 1.5rem;
      }
    }
    .modal-body {
      h4 {
        font-size: 2rem;
        margin-bottom: 15px;
      }
      .form-horizontal {
        .form-control {
          font-size: 1.6rem;
        }
      }
      article {
        margin-bottom: 20px;
        h5 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.3rem;
          line-height: 1.8rem;
        }
      }
    }
    .btn-load {
      height: 40px;
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-inverse {
    .navbar-brand {
      padding-left: 15px;
    }
    .nav {
      >li {
        >a {
          padding: 10px;
        }
      }
    }
    .navbar-left {
      padding-left: 15px;
    }
    .navbar-right {
      padding:{
        right: 0;
        left: 0;
      }
      margin: 0;
    }
  }

  header {
    h1 {
      font-size: 1.8rem;
      transform: translate(-50%,-450%);
      -webkit-transform: translate(-50%, -450%);
      -moz-transform: translate(-50%, -450%);
      -ms-transform: translate(-50%, -450%);
    }
  }

  section {
    margin-top: -40px;
  }

  button {
    &.close {
      top: 10px;
      right: 10px;
    }
  }

  .modal-content{
    padding: 15px;
    .modal-header {
      h3 {
        font-size: 2rem;
        margin: {
          top: 5px;
          bottom: 10px;
        }
      }
      p {
        font-size: 1.5rem;
      }
    }
    .modal-body {
      h4 {
        font-size: 2rem;
        margin-bottom: 15px;
      }
      .form-horizontal {
        .form-control {
          font-size: 1.6rem;
        }
      }
      article {
        margin-bottom: 20px;
        h5 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.3rem;
          line-height: 1.8rem;
        }
      }
    }
    .btn-load {
      height: 40px;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 480px) {
  header {
    h1 {
      transform: translate(-50%,-350%);
      -webkit-transform: translate(-50%, -350%);
      -moz-transform: translate(-50%, -350%);
      -ms-transform: translate(-50%, -350%);
    }
  }
}

@media (max-width: 320px) {
  header {
    h1 {
      transform: translate(-50%,-300%);
      -webkit-transform: translate(-50%, -300%);
      -moz-transform: translate(-50%, -300%);
      -ms-transform: translate(-50%, -300%);
    }
  }
}